:root{
  --main-white: rgb(226, 227, 228);
  --main-black: rgb(26, 26, 26);
  --prod-item-dgray: rgb(179, 179, 179);
  --carrousel-dark: rgb(179, 179, 179);
  --carrousel-light: rgb(230, 230, 230);
}

body
{
  margin: 0;
  background: linear-gradient(
    to right,
    rgb(26, 26, 26) 0,
    rgb(26, 26, 26) 400px,
    rgb(230, 230, 230) 400px,
    rgb(230, 230, 230) 100%
  );

  font-family: "Square 721 BT", "Square721", sans-serif;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;  

  pointer-events: auto;
  user-select: none;
}

header
{
    padding: 40px 0px 40px 40px
}

#box
{
    width: 100%;
    height: 100px;
    background-color: white;
    vertical-align: middle;
    display: flex;
}

ul
{
    list-style: none;
    list-style-position: inside;
    padding-inline-start: 0%;
    margin: 0%;
}

.menu-container
{
  width: 100%;
}

.menu
{
  display: flex;
  align-items: center;
  height: 100%;
}

li.menu-item
{
  /* padding: 20px; */
  padding: 20px 20px 5px 20px;
  font-size: 30px;
}

.menu-item a
{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.menu-item a:hover
{
  text-shadow: 3px 3px 3px darkgray;
}

img.logo
{
  padding: 20px 5px 20px 5px;;
}

.logo-container
{
  height: 100%;
  display: flex;
  width: 360px;
  justify-content: center;
  padding: 0px 44px;
}

main
{
  min-height: max-content;
  flex: 1;
}

.content-container{
  padding: 0px 0px 0px 40px;
}

.content
{
  background-color: var(--main-white);
  /* border: 1px solid rgb(0, 0, 0); */
  padding: 20px;
}

.footer-container
{
    color: white;
    display: flex;
    align-items: center;
    height: 200px;
    /* background-color: rgb(26, 26, 26); */
    background-color: rgb(55, 83, 121);
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: column;
}

.double-stripes {
  width: 100%;
  height: 8px;
}

.blue-color
{
  background: #2825f5;
  height: 4px;
}

.yellow-color
{
  background: #f1f510;
  height: 4px;
}

.header-burger
{
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  align-items: flex-end;
}

#burger
{
  width: 50px;
  cursor: pointer;
  height: 45px;
  display: flex;
  flex-direction: column;
}

.burger-line{
  width: 50px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
}

#burger.active div:nth-child(1) {
    transform-origin: top left;
    transform: translate(7px, 35px) rotate(-45deg);
}
#burger.active div:nth-child(2) {
    transform-origin: bottom right;
    transform: translate(-7px, 20px) rotate(45deg);
}
#burger.active div:nth-child(3) {
    display: none;
}

/* desktop */
@media (min-width: 1025px) {
  .header-burger 
  {
      display: none;
  }

  .menu_mobile_media
  {
      display: flex;
  }

  .product-item
  {
    height: 150px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 1024px;
  }
  .courussel-stripe
  {
    flex-direction: row;
  }
}
/* mobile */
@media (max-width: 1024px) {
  .menu_mobile_media
  {
    display: none;
  }

  .header-burger 
  {
      display: flex;
  }
  
  .product-item
  {

    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courussel-stripe
  {
    flex-direction: column;
  }
}

.menu_mobile {
    transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out, transform 250ms ease-in-out;
    position: absolute;
    top: 180px;
    left: 0px;
    width: 100vw;
    min-height: 60vh;
    /* padding: 30px 20px; */
    background-color: var(--main-white);
    display: flex !important;
    flex-direction: column;
}

.product-item{
  width: 100%;
  background-color: var(--prod-item-dgray);
  text-decoration: none;
}

.product-list li{
  padding: 20px;
}
.product-index{
  color: black;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 10px;
}
.product-description{
  color: black;
  font-size: 30px;
  
}
.product-small-img{
  width: 50%;
  height: 100px;
  padding-left: 40px;
  display: flex;
  justify-content: center;
}
.product-small-img img{
  height: 100%;
}

.underline-red {
    display: inline;
    border-bottom: 4px solid red;
    padding-bottom: 2px;
}

.courussel-stripe
{
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dark
{
  background-color: var(--carrousel-dark);
}

.light
{
  background-color: var(--carrousel-light);
}

 .courussel-img
 {
  height: 300px;
 }

.courussel-stripe img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


